{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Магазин</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'shop/style.css' %}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">
  
</head>
  <body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
			  <a class="navbar-brand" href="#">
			  	<img src="{% static 'shop/images/logo.svg' %}" width="30" height="30" alt="">
			  	ВокругСвета
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
	  
			  <div class="collapse navbar-collapse" id="navbarsExample07">
				<ul class="navbar-nav mr-auto">
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'main-page' %}">Главная <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{% url 'about-page' %}">О нас</a>
				  </li>
				</ul>
				<ul class="navbar-nav ml-auto mr-5">
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/basket/">Корзина</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout-page' %}">Выйти</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/login/">Войти</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'reg-page' %}">Регистрация</a>
						</li>
					{% endif %}	

				</ul>
			  </div>
			</div>
		</nav>
	</header>
	{% if messages %}
		{% for message in messages %}
		{% if message.tags == "warning" %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% else %}	
			<div class="alert alert-{{ message.tags }}" role="alert">
				{{ message }}
			</div>		
		{% endif %}
		{% endfor %}

	{% endif %}	
{% block content %}
{% endblock content %}

	<hr>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<strong>© 2017 VokrugSveta </strong>
					<br>
					461200, г. Оренбург, ул. Советская
					<br>
					Эл.почта:  vokrugsveta@gmail.com
					<br>
					Отдел контроля качества: +7 (3532) 964-112
				</div>
				<div class="col-xs-12 col-sm-3">
					<strong>Номера: </strong>
					<br>
					Доставка: +7 (3532) 020-123
					<br>
					Жалобы: +7 (3532) 020-123
					<br>
					Франшиза: +7 (3532) 823-021
				</div>
				<div class="col-xs-12 col-sm-3">
					<strong>Реквизиты: </strong>
					<br>
					Индивидуальный Предприниматель Аноним Анонимович
					<br>
					ИНН 561303853653/ОГРН 310759130137971.
					<br>
					461200, г. Оренбург, ул. Советская
					<br>
					Пушкинский дом 12 корп.1 кв. 28
				</div>
				<div class="col-xs-12 col-sm-3">
					<strong>Мы в сетях: </strong>
					<br>
					<img class="socsites" width="50" src="{% static 'shop/images/vk.svg' %}"/>
					<br>
					<img class="socsites" width="50" src="{% static 'shop/images/instagram.svg' %}"/>
					<br>
					<img class="socsites" width="50" src="{% static 'shop/images/facebook.svg' %}"/>
				</div>
			</div>
		</div>
	</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>